{% extends "main_base.html" %}
{% block content %}

{% if add %}
<p>输入设备信息</p>
<ul>
    <li class="list-item">
        <label>设备ID: </label>
        <input class="form-control" id="DeviceID">
    </li>
    <li class="list-item">
        <label>设备密码: </label>
        <input class="form-control" id="DevicePassword">
    </li>
    <li class="list-item">
        <button type="button" class="btn btn-primary" onclick="addDevice()">
            添加
        </button>
    </li>
</ul>
{% else %}
<!-- else not add -->
<div hidden id="GlobalVariables">
    {"DeviceID":{{device["DeviceID"]}},"PermissionID":{{device["PermissionID"]}},"len_permissions":{{permissions|length}}}
</div>
<div class="container-fluid">
    <div class="row">
        {% set DeviceID = device["DeviceID"] %}
        <div class="col-md-4">
            {% if not edit %}
            <button type="button" class="btn btn-primary btn-block"
                onclick="redirect('device_detail', 'DeviceID={{DeviceID}}&edit=1')">
                修改
            </button>
            {% else %}
            <button type="button" class="btn btn-primary btn-block"
                onclick="redirect('device_detail', 'DeviceID={{DeviceID}}')">
                放弃
            </button>
            {% endif %}
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary btn-block" onclick="deleteDevice()">
                删除
            </button>
        </div>
        <div class="col-md-4">
            {% if not edit %}
            <button type="button" class="btn btn-block btn-secondary">-</button>
            {% else %}
            <button type="button" class="btn btn-primary btn-block" onclick="saveChanges()">
                保存
            </button>
            {% endif %}
        </div>
    </div>
</div>
<p></p>
<p>设备信息</p>
<ul>
    <li class="list-item">
        DeviceID: {{device["DeviceID"]}}
    </li>
    <li class="list-item">
        设备种类: {{device["DeviceType"]}}
    </li>
    <li class="list-item">
        {% set PermissionStr = None %}
        {% if device["CanView"] %} {% set PermissionStr = "查看" %} {% endif %}
        {% if device["CanControl"] %} {% set PermissionStr = "控制" %} {% endif %}
        {% if device["CanManage"] %} {% set PermissionStr = "管理" %} {% endif %}
        您的权限: {{PermissionStr}}
    </li>
    {% if not edit %}
    <li class="list-item">
        状态: Device is
        {% if device["DeviceIsOnline"] %}
        <strong style="color: green;">Online</strong> and turned
        {% if device["DeviceIsOn"] %}
        <strong style="color: green;">On</strong>
        {% else %}
        <strong style="color: red;">Off</strong>
        {% endif %}
        {% else %}
        <strong style="color: red;">Offline</strong> and used to be
        {% if device["DeviceIsOn"] %}
        <strong style="color: green;">On</strong>
        {% else %}
        <strong style="color: red;">Off</strong>
        {% endif %}
        {% endif %}
    </li>
    <li class="list-item">
        设备名称: {{device["DeviceName"]}}
    </li>
    <li class="list-item">
        设备描述: {{device["DeviceDescription"]}}
    </li>
    {% else %}
    <!-- else edit -->
    <li class="list-item">
        状态:
        <select id="DeviceIsOn">
            {% if device["DeviceIsOn"] %}
            <option style="color: green;" selected>On</option>
            <option style="color: red;">Off</option>
            {% else %}
            <option style="color: green;">On</option>
            <option style="color: red;" selected>Off</option>
            {% endif %}
        </select>
    </li>
    <li class="list-item">
        设备名称:
        <input id="DeviceName" value="{{device['DeviceName']}}">
    </li>
    <li class="list-item">
        设备描述:
        <input id="DeviceDescription" value="{{device['DeviceDescription']}}">
    </li>
    {% endif %}
</ul>

<p>设备权限信息</p>
<ul>
    {% set len_permissions = (permissions | length) %}
    {% for i in range(len_permissions) %}
    {% set permission = permissions[i] %}
    {% set PermissionStr = None %}
    {% if permission["CanView"] %} {% set PermissionStr = "查看" %} {% endif %}
    {% if permission["CanControl"] %} {% set PermissionStr = "控制" %} {% endif %}
    {% if permission["CanManage"] %} {% set PermissionStr = "管理" %} {% endif %}
    {% if not edit %}
    <li class="list-item">
        {{permission["UserName"]}}(ID:{{permission["UserID"]}}): {{PermissionStr}}
    </li>
    {% else %}
    <!-- else edit -->
    <li class="list-item">
        <div hidden id="listPID-{{i}}">{"PermissionID":{{permission["PermissionID"]}}}</div>
        {{permission["UserName"]}}(ID:{{permission["UserID"]}}):
        <select id="listPVAL-{{i}}">
            {% if permission["CanManage"] %}
            <option value="CanManage" selected>管理</option>
            <option value="CanControl">控制</option>
            <option value="CanView">查看</option>
            <option value="None">无权限</option>
            {% elif permission["CanControl"] %}
            <option value="CanManage">管理</option>
            <option value="CanControl" selected>控制</option>
            <option value="CanView">查看</option>
            <option value="None">无权限</option>
            {% elif permission["CanView"] %}
            <option value="CanManage">管理</option>
            <option value="CanControl">控制</option>
            <option value="CanView" selected>查看</option>
            <option value="None">无权限</option>
            {% else %}
            <option value="CanManage">管理</option>
            <option value="CanControl">控制</option>
            <option value="CanView">查看</option>
            <option value="None" selected>无权限</option>
            {% endif %}
        </select>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% if not edit %}
<p>设备指令信息</p>
<ul>
    {% for instruction in instructions %}
    <li class="list-item">
        ID: {{instruction["InstructionID"]}},
        名称: {{instruction["InstructionName"]}},
        描述: {{instruction["InstructionDescription"]}}
    </li>
    <div>
        {% set instructionMeta = instruction.get("InstructionMeta") %}
        {% autoescape false %}
        {{ showInstructionMeta(instructionMeta) }}
        {% endautoescape %}
    </div>
    {% endfor %}
</ul>
{% endif %}

<p hidden>device: {{ device }}</p>
<p hidden>permissions: {{ permissions }}</p>
<p hidden>instructions: {{ instructions }}</p>

{% endif %}
<!-- endif add -->
{% endblock %}

{% block script %}
<script>

    function addDevice() {
        var deviceID = Number(document.getElementById("DeviceID").value)
        var devicePassword = document.getElementById("DevicePassword").value
        var dataSent = {
            "Action": "insert",
            "Token": localStorage.getItem("Token"),
            "DeviceID": deviceID,
            "Data": [{ "CanView": true, "CanControl": true, "CanManage": true, "DeviceID": deviceID, "DevicePassword": devicePassword, }],
        }
        var xhr = new XMLHttpRequest()
        xhr.open('POST', "_permission", false)
        xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8")
        xhr.onloadend = (event) => {
            if (xhr.status == 200) {
                redirect('device')
            } else {
                alert("failed")
            }
        }
        xhr.send(JSON.stringify(dataSent))
    }

    function deleteDevice() {
        var GlobalVariables = JSON.parse(document.getElementById("GlobalVariables").textContent)
        var deviceID = Number(GlobalVariables["DeviceID"])
        var permissionID = Number(GlobalVariables["PermissionID"])
        var dataSent = {
            "Action": "delete",
            "Token": localStorage.getItem("Token"),
            "DeviceID": deviceID,
            "Data": [{ "PermissionID": permissionID }],
        }
        var xhr = new XMLHttpRequest()
        xhr.open('POST', "_permission", false)
        xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8")
        xhr.onloadend = (event) => {
            if (xhr.status == 200) {
                redirect('device')
            } else {
                alert("failed")
            }
        }
        xhr.send(JSON.stringify(dataSent))
    }

    function saveChanges() {
        var GlobalVariables = JSON.parse(document.getElementById("GlobalVariables").textContent)
        var deviceID = Number(GlobalVariables["DeviceID"])
        var deviceName = document.getElementById("DeviceName").value
        var deviceDescription = document.getElementById("DeviceDescription").value
        var deviceIsOn = (document.getElementById("DeviceIsOn").value == "On")
        // device
        var dataSent = {
            "Action": "update",
            "Token": localStorage.getItem("Token"),
            "Data": [{
                "DeviceID": deviceID,
                "DeviceName": deviceName,
                "DeviceDescription": deviceDescription,
                "DeviceIsOn": deviceIsOn,
            }],
        }
        var xhr = new XMLHttpRequest()
        xhr.open('POST', "_device", false)
        xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8")
        xhr.onloadend = (event) => {
            if (xhr.status == 200) {
                // redirect('device')
            } else {
                alert("change device failed")
            }
        }
        xhr.send(JSON.stringify(dataSent))
        // permission
        var dataSent = {
            "Action": "update",
            "Token": localStorage.getItem("Token"),
            "DeviceID": deviceID,
            "Data": [],
        }
        var len_permissions = Number(GlobalVariables["len_permissions"])
        for (let i = 0; i < len_permissions; i++) {
            var permissionIDInfo = document.getElementById("listPID-" + i).textContent
            var permissionID = Number(JSON.parse(permissionIDInfo)["PermissionID"])
            var permissionType = document.getElementById("listPVAL-" + i).value
            var permissionStr = permissionType
            var permissionVal = true
            if (permissionType == "None") {
                permissionStr = "CanView"
                permissionVal = false
            }
            permission = { "PermissionID": permissionID, }
            permission[permissionStr] = permissionVal
            dataSent["Data"].push(permission)
        }
        var xhr = new XMLHttpRequest()
        xhr.open('POST', "_permission", false)
        xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8")
        xhr.onloadend = (event) => {
            if (xhr.status == 200) {
                redirect('device')
            } else {
                alert("change permission failed")
            }
        }
        xhr.send(JSON.stringify(dataSent))
    }

</script>
{% endblock %}