{% extends "main_base.html" %}
{% block content %}
<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
    <h4>提示:</h4>
    <strong>Hello!</strong> 设备和指令的概览如下!
    <a href="#" class="alert-link"></a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div id="card-dev">
                {% set len_devices = (devices | length) %}
                {% for i in range(len_devices) %}
                {% set device = devices[i] %}
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" data-parent="#card-dev"
                            href="#card-element-dev-{{i}}">
                            [{{i}}] {{device["DeviceType"]}} {{device["DeviceName"]}}
                        </a>
                    </div>
                    <div id="card-element-dev-{{i}}" class="collapse show">
                        <div class="card-body">
                            <p>
                                ID: {{device["DeviceID"]}},
                                名称: {{device["DeviceName"]}},
                                种类: {{device["DeviceType"]}},
                            </p>
                            <p>描述: {{device["DeviceDescription"]}}</p>
                            <p>
                                状态: Device is
                                {% if device["DeviceIsOnline"] %}
                                <strong style="color: green;">Online</strong> and turned
                                {% if device["DeviceIsOn"] %}
                                <strong style="color: green;">On</strong>
                                {% else %}
                                <strong style="color: red;">Off</strong>
                                {% endif %}
                                {% else %}
                                <strong style="color: red;">Offline</strong> and used to be
                                {% if device["DeviceIsOn"] %}
                                <strong style="color: green;">On</strong>
                                {% else %}
                                <strong style="color: red;">Off</strong>
                                {% endif %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <div id="card-ins">
                {% set len_instructions = (instructions | length) %}
                {% for i in range(len_instructions) %}
                {% set instruction = instructions[i] %}
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" data-parent="#card-ins"
                            href="#card-element-ins-{{i}}">
                            [{{i}}] {{instruction["InstructionName"]}}
                        </a>
                    </div>
                    <div id="card-element-ins-{{i}}" class="collapse show">
                        <div class="card-body">
                            <p>
                                ID: {{instruction["InstructionID"]}},
                                名称: {{instruction["InstructionName"]}},
                            </p>
                            <p>描述: {{instruction["InstructionDescription"]}}</p>
                            <p>
                                状态: Instruction is
                                {% if instruction["InstructionIsOn"] %}
                                <strong style="color: green;">On(Active)</strong>
                                {% else %}
                                <strong style="color: red;">Off</strong>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<p></p>
<nav hidden>
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#">First</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Last</a>
        </li>
    </ul>
</nav>
{% endblock %}